* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
  }

  header {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    text-align: center;
    border-bottom:30px #879274;
  }

  .timer-text {
    display: flex;
    justify-content: start;
    padding-right: 10px;
  }

  #initial-state   {
    display: none;
    font-size: 1.5em;
    text-align:center;
    font-weight: bold;
    margin-top: 10%;
    margin-left: 30%;
    margin-right: 30%;
  }
  .quiz-state   {
    display: block;
    font-size: 1.5em;
    text-align:center;
    font-weight: bold;
    margin-top: 10%;
    margin-left: 30%;
    margin-right: 30%;
  }
  .quiz-area   {
    display: block;
    font-size: 1.5em;
    text-align:center;
    font-weight: bold;
    margin-top: 10%;
    margin-left: 30%;
    margin-right: 30%;
  }
  .statement {
    display:none;
    font-size: 10px;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    padding-left:10px;
    border-top: 2px solid lightslategray;
  }

  .instruction {
    font-size: 1em;
  }

  .start-button {
    width: 100px;
  }

  .score-button {
    width:auto; 
    margin:20px; 
    text-align: center;
    display: revert;
  }

  .score-board   {
    display: block;
    font-size: 1.5em;
    text-align:center;
    font-weight: bold;
    margin-top: 10%;
    margin-left: 30%;
    margin-right: 30%;
  }

  form {
    font-size: small;
  }

  input {
    width:100px; 
    font-size:20px;
  }